/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
*/
/* line 7, ../sass/reset.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 24, ../sass/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../sass/reset.scss */
ul {
  list-style: none;
}

/* line 32, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 37, ../sass/reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 44, ../sass/reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 50, ../sass/reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 61, ../sass/reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 69, ../sass/reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 76, ../sass/reset.scss */
del {
  text-decoration: line-through;
}

/* line 80, ../sass/reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 85, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 92, ../sass/reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 101, ../sass/reset.scss */
input, select {
  vertical-align: middle;
}

/* line 9, ../sass/layout.scss */
body {
  background: #efefef;
  overflow-x: hidden;
}

/* line 14, ../sass/layout.scss */
.wrapper {
  max-width: 1060px;
  padding: 0 20px;
  position: relative;
  margin: 0 auto;
}

/* line 21, ../sass/layout.scss */
.content-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 880px;
  padding: 0 20px;
}
/* line 27, ../sass/layout.scss */
.content-wrapper.appliances {
  padding: 0;
}

/* line 32, ../sass/layout.scss */
.product-wrapper {
  max-width: 900px;
  position: relative;
  margin: 0 auto;
}

/* line 40, ../sass/layout.scss */
.site-header {
  float: left;
  width: 100%;
}
/* line 44, ../sass/layout.scss */
.site-header .white-bar {
  position: absolute;
  left: -25%;
  top: 0;
  height: 85px;
  background: #FFF;
  width: 50%;
}
/* line 53, ../sass/layout.scss */
.site-header .top-bar {
  width: 100%;
  background: #272727;
  float: left;
  margin-bottom: 45px;
}
/* line 59, ../sass/layout.scss */
.site-header .top-bar .wrapper {
  padding: 0;
}
/* line 63, ../sass/layout.scss */
.site-header .top-bar .logo-container {
  float: left;
  width: 100%;
  background: #FFF;
}
/* line 68, ../sass/layout.scss */
.site-header .top-bar .logo-container a {
  display: block;
  width: 237px;
  height: 49px;
  margin: 18px auto;
  text-indent: -99999px;
  background: url(../images/logo-aceco.png) no-repeat center center;
}
/* line 78, ../sass/layout.scss */
.site-header .top-bar .delivery-phone-box {
  padding: 0 20px;
}
/* line 81, ../sass/layout.scss */
.site-header .top-bar .delivery-phone-box span {
  float: left;
  color: #FFF;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 0 10px 20px;
  position: relative;
  line-height: 2em;
}
/* line 92, ../sass/layout.scss */
.site-header .top-bar .delivery-phone-box span.delivery:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 12px;
  width: 15px;
  height: 17px;
  background: url("../images/icon-delivery.png") no-repeat center center;
  background-size: 100%;
}
/* line 106, ../sass/layout.scss */
.site-header .top-bar .delivery-phone-box span.phone {
  text-align: right;
  float: right;
}
/* line 110, ../sass/layout.scss */
.site-header .top-bar .delivery-phone-box span.phone:before {
  content: " ";
  position: absolute;
  left: 0px;
  top: 13px;
  width: 15px;
  height: 15px;
  background: url("../images/icon-phone.png") no-repeat center center;
  background-size: 100%;
}
/* line 127, ../sass/layout.scss */
.site-header .main-nav {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
/* line 132, ../sass/layout.scss */
.site-header .main-nav li {
  padding: 0 25px;
  float: left;
}
/* line 136, ../sass/layout.scss */
.site-header .main-nav li:first-child {
  margin-left: 10px;
}
@media only screen and (min-width: 1069px) {
  /* line 132, ../sass/layout.scss */
  .site-header .main-nav li {
    padding: 0 28px;
  }
}
/* line 145, ../sass/layout.scss */
.site-header .main-nav li a {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 35px;
  display: block;
  text-transform: uppercase;
  color: #000;
}
/* line 153, ../sass/layout.scss */
.site-header .main-nav li a:hover {
  border-bottom: 2px solid #000;
}
/* line 160, ../sass/layout.scss */
.site-header .main-nav li.current-menu-item a, .site-header .main-nav li.current_page_item a, .site-header .main-nav li.current-page-ancestor a, .site-header .main-nav li.current_page_parent a {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  border-bottom: 2px solid #000;
}

/* line 169, ../sass/layout.scss */
.main-content {
  float: left;
  width: 100%;
}
/* line 173, ../sass/layout.scss */
.main-content .content-section {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
/* line 178, ../sass/layout.scss */
.main-content .content-section:last-child {
  margin-bottom: 0;
}
/* line 182, ../sass/layout.scss */
.main-content .content-section.products {
  padding: 0;
}
/* line 185, ../sass/layout.scss */
.main-content .content-section.products .content-block {
  padding: 0;
}
/* line 191, ../sass/layout.scss */
.main-content .content-block {
  background: #FFF;
  padding: 30px 0;
  float: left;
  width: 100%;
  overflow-x: hidden;
}
/* line 198, ../sass/layout.scss */
.main-content .content-block.dashed {
  border-bottom: 1px dashed #dddddd;
}
/* line 202, ../sass/layout.scss */
.main-content .content-block.gray {
  background: #efefef;
  padding: 0 0 80px 0;
}
/* line 207, ../sass/layout.scss */
.main-content .content-block.block-ball {
  display: none;
}
/* line 211, ../sass/layout.scss */
.main-content .content-block.area-served-map {
  height: 350px;
}
/* line 214, ../sass/layout.scss */
.main-content .content-block.area-served-map.northern-beaches {
  background: url("../images/map-northern-beaches.png") no-repeat right center #FFF;
}
/* line 215, ../sass/layout.scss */
.main-content .content-block.area-served-map.north-shore {
  background: url("../images/map-north-shore.png") no-repeat right center #FFF;
}
/* line 216, ../sass/layout.scss */
.main-content .content-block.area-served-map.inner-west {
  background: url("../images/map-inner-west.png") no-repeat right center #FFF;
}
/* line 217, ../sass/layout.scss */
.main-content .content-block.area-served-map.eastern-suburbs {
  background: url("../images/map-eastern-suburbs.png") no-repeat right center #FFF;
}
/* line 221, ../sass/layout.scss */
.main-content .content-block.p404 h1 {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  color: #272727;
  margin-bottom: 30px;
}
/* line 229, ../sass/layout.scss */
.main-content .content-block.p404 p {
  text-align: center;
  padding: 0 20px;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  font-size: 24px;
}
/* line 238, ../sass/layout.scss */
.main-content .content-block h2, .main-content .content-block h3:not(.black-section-title) {
  font-family: "merriweather",serif;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 50px;
  position: relative;
  padding-bottom: 50px;
}
/* line 245, ../sass/layout.scss */
.main-content .content-block h2 {
  font-size: 20px;
}
/* line 249, ../sass/layout.scss */
.main-content .content-block h3 {
  font-size: 18px;
}
/* line 253, ../sass/layout.scss */
.main-content .content-block h2:after, .main-content .content-block h3:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 36px;
  height: 4px;
  background: #57c5c7;
}
/* line 263, ../sass/layout.scss */
.main-content .content-block .text {
  position: relative;
  color: #939393;
  font-size: 14px;
  font-family: "merriweather",serif;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}
/* line 270, ../sass/layout.scss */
.main-content .content-block .text p {
  margin-top: 25px;
}
/* line 273, ../sass/layout.scss */
.main-content .content-block .text p:first-child {
  margin-top: 0;
}
/* line 277, ../sass/layout.scss */
.main-content .content-block .text p strong, .main-content .content-block .text p span, .main-content .content-block .text p a {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
}
/* line 281, ../sass/layout.scss */
.main-content .content-block .text p strong {
  color: #000;
}
/* line 285, ../sass/layout.scss */
.main-content .content-block .text p span, .main-content .content-block .text p a {
  color: #57c5c7;
}
/* line 291, ../sass/layout.scss */
.main-content .content-block .appliances-categories {
  margin-bottom: 80px;
  float: left;
  width: 100%;
}
/* line 296, ../sass/layout.scss */
.main-content .content-block .appliances-categories a.appliance {
  width: 100%;
  float: left;
  text-align: center;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  margin-top: 30px;
}
/* line 306, ../sass/layout.scss */
.main-content .content-block .appliances-categories a.appliance:first-child {
  margin-top: 0;
}
/* line 310, ../sass/layout.scss */
.main-content .content-block .appliances-categories a.appliance img {
  display: block;
  clear: both;
  margin: 0 auto 30px auto;
}
/* line 318, ../sass/layout.scss */
.main-content .content-block .black-section-title {
  background: #272727;
  text-align: center;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  width: 100%;
  float: left;
  line-height: 44px;
  color: #FFF;
}
/* line 329, ../sass/layout.scss */
.main-content .content-block .black-section-title:after {
  display: none;
}
/* line 333, ../sass/layout.scss */
.main-content .content-block .black-section-title span {
  position: relative;
}
/* line 336, ../sass/layout.scss */
.main-content .content-block .black-section-title span:before {
  content: " ";
  position: absolute;
  right: -33px;
  top: 4px;
  width: 16px;
  height: 9px;
  background: url("../images/arrow-down.png") no-repeat center center;
}
/* line 349, ../sass/layout.scss */
.main-content .content-block .brands-list li {
  width: 100%;
  text-align: center;
  float: left;
  margin-top: 50px;
}
/* line 357, ../sass/layout.scss */
.main-content .content-block .support-phone {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #57c5c7;
  font-size: 35px;
  padding-left: 75px;
  margin: 45px 0 55px 0;
  float: left;
  width: 100%;
  position: relative;
  line-height: 45px;
}
/* line 368, ../sass/layout.scss */
.main-content .content-block .support-phone:before {
  content: " ";
  position: absolute;
  left: 15px;
  top: 3px;
  width: 40px;
  height: 39px;
  background: url("../images/icon-phone-blue.png") no-repeat center center;
}
/* line 379, ../sass/layout.scss */
.main-content .content-block .ball-about {
  float: left;
  width: 100%;
  height: 53px;
  margin-bottom: 50px;
  background: url("../images/icon-bouncing-ball.png") no-repeat left center;
  clear: both;
  margin-left: -20px;
  display: none;
}
/* line 390, ../sass/layout.scss */
.main-content .content-block .appliances-selector {
  margin-bottom: 10px;
  margin-top: 30px;
  float: left;
  width: 100%;
  background: #FFF;
}
/* line 397, ../sass/layout.scss */
.main-content .content-block .appliances-selector a.appliance {
  width: 100%;
  float: left;
  text-align: center;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000;
  position: relative;
  text-transform: uppercase;
  background: #FFF;
  padding: 95px 0 80px 0;
  border-top: 1px dashed #dddddd;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 415, ../sass/layout.scss */
.main-content .content-block .appliances-selector a.appliance:hover {
  background: #3c3c3c;
  color: #FFF;
  border-top: 1px solid #272727;
  border-right: 1px solid #272727;
}
/* line 422, ../sass/layout.scss */
.main-content .content-block .appliances-selector a.appliance:first-child {
  border-top: none;
}
/* line 426, ../sass/layout.scss */
.main-content .content-block .appliances-selector a.appliance img {
  display: block;
  clear: both;
  margin: 0 auto 30px auto;
}
/* line 434, ../sass/layout.scss */
.main-content .content-block .product-selector {
  float: left;
  width: 100%;
  background: #FFF;
}
/* line 439, ../sass/layout.scss */
.main-content .content-block .product-selector .product {
  width: 100%;
  height: 670px;
  float: left;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  background: #FFF;
  border-top: 1px dashed #dddddd;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 454, ../sass/layout.scss */
.main-content .content-block .product-selector .product:first-child {
  border-top: none;
}
/* line 458, ../sass/layout.scss */
.main-content .content-block .product-selector .product .product-image {
  padding-top: 80px;
  margin-bottom: 30px;
}
/* line 462, ../sass/layout.scss */
.main-content .content-block .product-selector .product .product-image img {
  display: block;
  clear: both;
  margin: 0 auto;
}
/* line 469, ../sass/layout.scss */
.main-content .content-block .product-selector .product .prod-name {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000;
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
/* line 478, ../sass/layout.scss */
.main-content .content-block .product-selector .product p {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  text-transform: none;
  line-height: 30px;
}
/* line 484, ../sass/layout.scss */
.main-content .content-block .product-selector .product p span {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #57c5c7;
  text-transform: uppercase;
  font-size: 24px;
  padding: 0 7px;
}
/* line 493, ../sass/layout.scss */
.main-content .content-block .product-selector .product .btn-view {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #FFF;
  background: #272727;
  text-align: center;
  width: 162px;
  height: 44px;
  display: block;
  margin: 45px auto 0 auto;
  line-height: 44px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 509, ../sass/layout.scss */
.main-content .content-block .product-selector .product .btn-view:hover {
  background: #939393;
}
/* line 517, ../sass/layout.scss */
.main-content .content-block .map-areas {
  float: left;
  width: 100%;
  background: url("../images/map.jpg") no-repeat center center #FFF;
  width: 1060px;
  height: 711px;
  position: relative;
  margin-top: 55px;
}
/* line 526, ../sass/layout.scss */
.main-content .content-block .map-areas a {
  position: absolute;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #000;
  background: url("../images/map-marker.png") no-repeat center center;
  text-transform: uppercase;
  text-align: center;
  line-height: 22px;
  width: 143px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 542, ../sass/layout.scss */
.main-content .content-block .map-areas a.northern-beaches {
  left: 483px;
  top: 49px;
  height: 46px;
  padding: 15px 0;
}
/* line 549, ../sass/layout.scss */
.main-content .content-block .map-areas a.north-shore {
  left: 340px;
  top: 281px;
  height: 26px;
  padding: 25px 0;
}
/* line 556, ../sass/layout.scss */
.main-content .content-block .map-areas a.inner-west {
  left: 118px;
  top: 502px;
  height: 26px;
  padding: 25px 0;
}
/* line 563, ../sass/layout.scss */
.main-content .content-block .map-areas a.eastern-suburbs {
  left: 483px;
  top: 589px;
  height: 46px;
  padding: 15px 0;
}
/* line 570, ../sass/layout.scss */
.main-content .content-block .map-areas a:hover {
  background: #272727;
  color: #FFF;
}
/* line 574, ../sass/layout.scss */
.main-content .content-block .map-areas a:hover:after {
  background: url("../images/tooltip-arrow-hover.png") no-repeat center center;
  bottom: -11px;
}
/* line 580, ../sass/layout.scss */
.main-content .content-block .map-areas a:after {
  content: " ";
  position: absolute;
  right: 17px;
  bottom: -12px;
  width: 27px;
  height: 13px;
  background: url("../images/tooltip-arrow.png") no-repeat center center;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
/* line 597, ../sass/layout.scss */
.main-content .content-block .product-gallery {
  float: left;
  width: 100%;
  height: 300px;
  background: #939393;
}
/* line 608, ../sass/layout.scss */
.main-content .content-block .form-container {
  max-width: 700px;
  background: #FFF;
  padding: 50px 30px;
  position: relative;
  margin: 124px auto 0 auto;
}
/* line 615, ../sass/layout.scss */
.main-content .content-block .form-container label {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
/* line 625, ../sass/layout.scss */
.main-content .content-block .form-container input, .main-content .content-block .form-container textarea {
  float: left;
  width: 97%;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #272727;
  font-size: 18px;
  padding: 5px;
  outline: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 641, ../sass/layout.scss */
.main-content .content-block .form-container input:focus, .main-content .content-block .form-container textarea:focus {
  border: 1px solid #272727;
}
/* line 646, ../sass/layout.scss */
.main-content .content-block .form-container input {
  height: 33px;
  margin-bottom: 20px;
}
/* line 651, ../sass/layout.scss */
.main-content .content-block .form-container textarea {
  height: 178px;
  resize: none;
  margin-bottom: 65px;
}
/* line 657, ../sass/layout.scss */
.main-content .content-block .form-container input[type="submit"] {
  position: relative;
  margin: 0 auto;
  max-width: 214px;
  height: 44px;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFF;
  background: #272727;
  float: none;
  display: block;
  border-radius: 0;
  cursor: pointer;
  border: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 677, ../sass/layout.scss */
.main-content .content-block .form-container input[type="submit"]:hover {
  background: #939393;
}

/* line 689, ../sass/layout.scss */
.site-footer {
  float: left;
  width: 100%;
  padding-bottom: 50px;
}
/* line 694, ../sass/layout.scss */
.site-footer .wrapper {
  padding: 0;
}
/* line 695, ../sass/layout.scss */
.site-footer nav {
  clear: both;
}
/* line 697, ../sass/layout.scss */
.site-footer .social-nav {
  width: 100%;
  background: #272727;
  height: 44px;
  clear: both;
  float: right;
}
/* line 704, ../sass/layout.scss */
.site-footer .social-nav li {
  float: left;
  width: 33%;
  height: 44px;
}
/* line 709, ../sass/layout.scss */
.site-footer .social-nav li a {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  text-indent: -99999px;
}
/* line 718, ../sass/layout.scss */
.site-footer .social-nav li.social-twitter a {
  background: url("../images/icon-twitter.png") no-repeat center center;
}
/* line 719, ../sass/layout.scss */
.site-footer .social-nav li.social-facebook a {
  background: url("../images/icon-facebook.png") no-repeat center center;
}
/* line 720, ../sass/layout.scss */
.site-footer .social-nav li.social-plus a {
  background: url("../images/icon-plus.png") no-repeat center center;
}
/* line 724, ../sass/layout.scss */
.site-footer .footer-nav {
  display: none;
}
/* line 726, ../sass/layout.scss */
.site-footer .footer-nav li {
  float: left;
}
/* line 729, ../sass/layout.scss */
.site-footer .footer-nav li a {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #939393;
  padding: 0 10px;
  text-decoration: none;
}
/* line 740, ../sass/layout.scss */
.site-footer .footer-info {
  clear: both;
  margin-top: 30px;
  display: block;
  float: left;
  width: 100%;
}
/* line 747, ../sass/layout.scss */
.site-footer .footer-info p, .site-footer .footer-info a {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #939393;
  text-align: center;
  line-height: 26px;
}

@media only screen and (min-width: 400px) {
  /* line 4, ../sass/responsive.scss */
  .main-content .content-block .ball-about {
    display: block;
  }
}
@media only screen and (min-width: 480px) {
  /* line 18, ../sass/responsive.scss */
  .site-header .top-bar .delivery-phone-box span {
    font-size: 16px;
    padding: 10px 0 10px 30px;
  }
  /* line 23, ../sass/responsive.scss */
  .site-header .top-bar .delivery-phone-box span.delivery:before {
    top: 14px;
    width: 20px;
    height: 22px;
  }
  /* line 31, ../sass/responsive.scss */
  .site-header .top-bar .delivery-phone-box span.phone:before {
    top: 15px;
    width: 20px;
    height: 20px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 49, ../sass/responsive.scss */
  .site-header .top-bar .wrapper {
    padding: 0 20px;
  }
  /* line 53, ../sass/responsive.scss */
  .site-header .top-bar .logo-container {
    width: 280px;
  }
  /* line 57, ../sass/responsive.scss */
  .site-header .top-bar .delivery-phone-box {
    padding: 0;
  }
  /* line 60, ../sass/responsive.scss */
  .site-header .top-bar .delivery-phone-box span {
    font-size: 14px;
    padding: 10px 0 10px 57px;
    line-height: 65px;
  }
  /* line 65, ../sass/responsive.scss */
  .site-header .top-bar .delivery-phone-box span.delivery {
    margin-left: 54px;
  }
  /* line 67, ../sass/responsive.scss */
  .site-header .top-bar .delivery-phone-box span.delivery:before {
    top: 25px;
    width: 35px;
    height: 38px;
  }
  /* line 75, ../sass/responsive.scss */
  .site-header .top-bar .delivery-phone-box span.phone:before {
    top: 30px;
    width: 27px;
    height: 27px;
  }

  /* line 89, ../sass/responsive.scss */
  .main-content .content-block {
    padding: 70px 0;
  }
  /* line 92, ../sass/responsive.scss */
  .main-content .content-block.gray {
    padding: 0 0 70px 0;
  }
  /* line 96, ../sass/responsive.scss */
  .main-content .content-block.block-ball {
    display: block;
    margin-bottom: -120px;
  }
  /* line 101, ../sass/responsive.scss */
  .main-content .content-block h2 {
    font-size: 38px;
    margin-bottom: 30px;
    line-height: 50px;
  }
  /* line 107, ../sass/responsive.scss */
  .main-content .content-block h3:not(.black-section-title) {
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 45px;
  }
  /* line 113, ../sass/responsive.scss */
  .main-content .content-block .text {
    font-size: 16px;
    line-height: 26px;
  }
  /* line 118, ../sass/responsive.scss */
  .main-content .content-block .appliances-categories {
    margin-bottom: -50px;
  }
  /* line 122, ../sass/responsive.scss */
  .main-content .content-block .appliances-categories a.appliance {
    width: 50%;
    margin-bottom: 30px;
    margin-top: 0;
  }
  /* line 127, ../sass/responsive.scss */
  .main-content .content-block .appliances-categories a.appliance .appliance-icon {
    width: 100%;
    height: 154px;
    text-align: center;
    position: relative;
    margin-bottom: 45px;
  }
  /* line 135, ../sass/responsive.scss */
  .main-content .content-block .appliances-categories a.appliance img {
    margin: 0;
    margin-left: -47px;
    bottom: 0;
    left: 50%;
    position: absolute;
  }
  /* line 145, ../sass/responsive.scss */
  .main-content .content-block .black-section-title {
    margin-bottom: 25px;
  }
  /* line 150, ../sass/responsive.scss */
  .main-content .content-block .brands-list li {
    height: 90px;
    width: 50%;
    text-align: center;
    white-space: nowrap;
  }
  /* line 156, ../sass/responsive.scss */
  .main-content .content-block .brands-list li:before, .main-content .content-block .brands-list li.li_before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  /* line 164, ../sass/responsive.scss */
  .main-content .content-block .brands-list li img {
    vertical-align: middle;
    max-height: 90px;
    max-width: 243px;
  }
  /* line 172, ../sass/responsive.scss */
  .main-content .content-block .ball-about {
    margin-left: -60px;
    margin-right: 100px;
  }
  /* line 177, ../sass/responsive.scss */
  .main-content .content-block .appliances-selector {
    margin-top: 80px;
  }
  /* line 180, ../sass/responsive.scss */
  .main-content .content-block .appliances-selector a.appliance {
    width: 49.8%;
    border-right: 1px dashed #dddddd;
  }
  /* line 184, ../sass/responsive.scss */
  .main-content .content-block .appliances-selector a.appliance .appliance-icon {
    width: 100%;
    height: 154px;
    text-align: center;
    position: relative;
    margin-bottom: 80px;
  }
  /* line 192, ../sass/responsive.scss */
  .main-content .content-block .appliances-selector a.appliance img {
    margin: 0;
    margin-left: -47px;
    bottom: 0;
    left: 50%;
    position: absolute;
  }
  /* line 200, ../sass/responsive.scss */
  .main-content .content-block .appliances-selector a.appliance:nth-child(even) {
    border-right: none;
  }
  /* line 204, ../sass/responsive.scss */
  .main-content .content-block .appliances-selector a.appliance.fridges {
    border-top: none;
  }
  /* line 212, ../sass/responsive.scss */
  .main-content .content-block .product-selector .product {
    width: 49.8%;
    border-right: 1px dashed #dddddd;
  }
  /* line 216, ../sass/responsive.scss */
  .main-content .content-block .product-selector .product .product-image {
    width: 100%;
    height: 320px;
    text-align: center;
    position: relative;
    margin-bottom: 80px;
  }
  /* line 223, ../sass/responsive.scss */
  .main-content .content-block .product-selector .product .product-image img {
    margin: 0;
    margin-left: -47px;
    bottom: 0;
    left: 50%;
    position: absolute;
  }
  /* line 232, ../sass/responsive.scss */
  .main-content .content-block .product-selector .product:nth-child(2) {
    border-top: none;
  }
  /* line 236, ../sass/responsive.scss */
  .main-content .content-block .product-selector .product:nth-child(even) {
    border-right: none;
  }
  /* line 242, ../sass/responsive.scss */
  .main-content .content-block .form-container {
    padding: 75px 90px;
  }
  /* line 245, ../sass/responsive.scss */
  .main-content .content-block .form-container label {
    margin-bottom: 25px;
  }
  /* line 249, ../sass/responsive.scss */
  .main-content .content-block .form-container input {
    margin-bottom: 45px;
  }

  /* line 259, ../sass/responsive.scss */
  .site-footer .wrapper {
    padding: 0 20px;
  }
  /* line 263, ../sass/responsive.scss */
  .site-footer .social-nav {
    width: 214px;
  }
  /* line 267, ../sass/responsive.scss */
  .site-footer .footer-nav {
    display: block;
    width: 50%;
    line-height: 30px;
  }
  /* line 273, ../sass/responsive.scss */
  .site-footer .footer-info {
    float: left;
    margin-left: 10px;
  }
  /* line 277, ../sass/responsive.scss */
  .site-footer .footer-info p {
    text-align: left;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 290, ../sass/responsive.scss */
  .site-header .top-bar .logo-container a {
    float: left;
  }
  /* line 293, ../sass/responsive.scss */
  .site-header .top-bar .delivery-phone-box span {
    font-size: 21px;
    line-height: 65px;
  }
  /* line 298, ../sass/responsive.scss */
  .site-header .top-bar .delivery-phone-box span.phone:before {
    left: 15px;
  }

  /* line 312, ../sass/responsive.scss */
  .main-content .content-block h2, .main-content .content-block h3 {
    max-width: 520px;
  }
  /* line 315, ../sass/responsive.scss */
  .main-content .content-block h2.black-section-title, .main-content .content-block h3.black-section-title {
    max-width: 100%;
  }
  /* line 320, ../sass/responsive.scss */
  .main-content .content-block .text {
    max-width: 630px;
  }
  /* line 326, ../sass/responsive.scss */
  .main-content .content-block .appliances-categories a.appliance {
    width: 17%;
    margin-left: 10.6%;
  }
  /* line 330, ../sass/responsive.scss */
  .main-content .content-block .appliances-categories a.appliance:first-child {
    margin-left: 0;
  }
  /* line 334, ../sass/responsive.scss */
  .main-content .content-block .appliances-categories a.appliance .appliance-icon {
    height: 108px;
  }
  /* line 337, ../sass/responsive.scss */
  .main-content .content-block .appliances-categories a.appliance .appliance-icon.washing img, .main-content .content-block .appliances-categories a.appliance .appliance-icon.dryers img {
    width: 66px;
    height: 68px;
    margin-left: -33px;
  }
  /* line 343, ../sass/responsive.scss */
  .main-content .content-block .appliances-categories a.appliance .appliance-icon.fridges img {
    width: 66px;
    height: 108px;
    margin-left: -33px;
  }
  /* line 349, ../sass/responsive.scss */
  .main-content .content-block .appliances-categories a.appliance .appliance-icon.microwaves img {
    width: 72px;
    height: 47px;
    margin-left: -36px;
  }
  /* line 359, ../sass/responsive.scss */
  .main-content .content-block .brands-list li {
    width: 33%;
    margin-bottom: 25px;
  }
  /* line 365, ../sass/responsive.scss */
  .main-content .content-block .ball-about {
    margin-left: -90px;
  }

  /* line 374, ../sass/responsive.scss */
  .site-footer .footer-nav {
    margin-left: 30px;
    width: 100%;
  }
  /* line 379, ../sass/responsive.scss */
  .site-footer .footer-info {
    margin-left: 40px;
  }
}
