/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
*/
/* line 7, ../sass/reset.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 24, ../sass/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../sass/reset.scss */
ul {
  list-style: none;
}

/* line 32, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 37, ../sass/reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 44, ../sass/reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 50, ../sass/reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 61, ../sass/reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 69, ../sass/reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 76, ../sass/reset.scss */
del {
  text-decoration: line-through;
}

/* line 80, ../sass/reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 85, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 92, ../sass/reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 101, ../sass/reset.scss */
input, select {
  vertical-align: middle;
}

/* line 9, ../sass/layout.scss */
body {
  background: #efefef;
  overflow-x: hidden;
}

/* line 14, ../sass/layout.scss */
.wrapper {
  max-width: 1060px;
  padding: 0 20px;
  position: relative;
  margin: 0 auto;
}

/* line 21, ../sass/layout.scss */
.content-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 880px;
  padding: 0 20px;
}
/* line 27, ../sass/layout.scss */
.content-wrapper.appliances {
  padding: 0;
}

/* line 32, ../sass/layout.scss */
.product-wrapper {
  max-width: 900px;
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
}

/* line 41, ../sass/layout.scss */
.site-header {
  float: left;
  width: 100%;
}
/* line 45, ../sass/layout.scss */
.site-header .white-bar {
  position: absolute;
  left: -45%;
  top: 0;
  height: 85px;
  background: #FFF;
  width: 75%;
}
/* line 54, ../sass/layout.scss */
.site-header .top-bar {
  width: 100%;
  background: #272727;
  float: left;
  margin-bottom: 45px;
  position: relative;
  z-index: 50;
}
/* line 62, ../sass/layout.scss */
.site-header .top-bar .wrapper {
  padding: 0;
}
/* line 66, ../sass/layout.scss */
.site-header .top-bar .logo-container {
  float: left;
  width: 100%;
  background: #FFF;
}
/* line 71, ../sass/layout.scss */
.site-header .top-bar .logo-container a {
  display: block;
  width: 237px;
  height: 49px;
  margin: 18px auto;
  text-indent: -99999px;
  background: url(../images/logo-aceco.png) no-repeat center center;
}
/* line 81, ../sass/layout.scss */
.site-header .top-bar .delivery-phone-box {
  padding: 0 20px;
}
/* line 84, ../sass/layout.scss */
.site-header .top-bar .delivery-phone-box span {
  float: left;
  color: #FFF;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 0 10px 25px;
  position: relative;
  line-height: 2em;
}
/* line 95, ../sass/layout.scss */
.site-header .top-bar .delivery-phone-box span.delivery:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 15px;
  width: 17px;
  height: 20px;
  background: url("../images/icon-delivery.png") no-repeat center center;
  background-size: 100%;
}
/* line 111, ../sass/layout.scss */
.site-header .top-bar .delivery-phone-box span.phone:before {
  content: " ";
  position: absolute;
  left: 0px;
  top: 16px;
  width: 18px;
  height: 18px;
  background: url("../images/icon-phone.png") no-repeat center center;
  background-size: 100%;
}
/* line 128, ../sass/layout.scss */
.site-header .main-nav {
  float: left;
  width: 100%;
  margin-bottom: 15px;
  display: none;
}
/* line 134, ../sass/layout.scss */
.site-header .main-nav li {
  padding: 0 16px;
  float: left;
  position: relative;
}
/* line 139, ../sass/layout.scss */
.site-header .main-nav li:first-child {
  margin-left: 10px;
}
/* line 143, ../sass/layout.scss */
.site-header .main-nav li a {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 35px;
  display: block;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 2px;
}
/* line 152, ../sass/layout.scss */
.site-header .main-nav li a:hover {
  border-bottom: 2px solid #000;
}
/* line 157, ../sass/layout.scss */
.site-header .main-nav li .sub-menu {
  position: absolute;
  left: 0;
  top: 35px;
  width: 225px;
  background: #FFF;
  z-index: 10;
  padding: 15px 0;
  display: none;
}
/* line 167, ../sass/layout.scss */
.site-header .main-nav li .sub-menu li {
  float: left;
  width: 100%;
  margin: 0;
}
/* line 172, ../sass/layout.scss */
.site-header .main-nav li .sub-menu li a {
  border-bottom: 2px solid #FFF;
  text-align: left;
}
/* line 176, ../sass/layout.scss */
.site-header .main-nav li .sub-menu li a:hover {
  border-bottom: 2px solid #000;
}
/* line 185, ../sass/layout.scss */
.site-header .main-nav li.current-menu-item a, .site-header .main-nav li.current_page_item a, .site-header .main-nav li.current-page-ancestor a, .site-header .main-nav li.current_page_parent a {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  border-bottom: 2px solid #000;
}
/* line 191, ../sass/layout.scss */
.site-header .mobile-nav {
  display: block;
  margin: 0 auto;
  padding-bottom: 30px;
}
/* line 196, ../sass/layout.scss */
.site-header .mobile-nav .menu-icon {
  position: relative;
  width: 60px;
  text-indent: -999px;
  height: 30px;
  border-top: 10px solid #272727;
  border-bottom: 10px solid #272727;
  display: block;
  margin: 0 auto;
  clear: both;
}
/* line 207, ../sass/layout.scss */
.site-header .mobile-nav .menu-icon:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  border-top: 10px solid #272727;
}
/* line 217, ../sass/layout.scss */
.site-header .mobile-nav ul {
  padding: 25px 0;
  float: left;
  width: 100%;
  display: none;
}
/* line 224, ../sass/layout.scss */
.site-header .mobile-nav li {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}
/* line 230, ../sass/layout.scss */
.site-header .mobile-nav li a {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

/* line 244, ../sass/layout.scss */
.main-content {
  float: left;
  width: 100%;
}
/* line 248, ../sass/layout.scss */
.main-content .content-section {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
/* line 253, ../sass/layout.scss */
.main-content .content-section:last-child {
  margin-bottom: 0;
}
/* line 257, ../sass/layout.scss */
.main-content .content-section.products {
  padding: 0;
}
/* line 260, ../sass/layout.scss */
.main-content .content-section.products .content-block {
  padding: 0;
}
/* line 266, ../sass/layout.scss */
.main-content .content-block {
  background: #FFF;
  padding: 30px 0;
  float: left;
  width: 100%;
  overflow-x: hidden;
}
/* line 273, ../sass/layout.scss */
.main-content .content-block.dashed {
  border-bottom: 1px dashed #dddddd;
}
/* line 277, ../sass/layout.scss */
.main-content .content-block.gray {
  background: #efefef;
  padding: 0 0 80px 0;
}
/* line 282, ../sass/layout.scss */
.main-content .content-block.block-ball {
  display: none;
}
/* line 286, ../sass/layout.scss */
.main-content .content-block.area-served-map {
  height: 350px;
}
/* line 289, ../sass/layout.scss */
.main-content .content-block.area-served-map.northern-beaches {
  background: url("../images/map-northern-beaches.png") no-repeat right center #FFF;
}
/* line 290, ../sass/layout.scss */
.main-content .content-block.area-served-map.north-shore {
  background: url("../images/map-north-shore.png") no-repeat right center #FFF;
}
/* line 291, ../sass/layout.scss */
.main-content .content-block.area-served-map.inner-west {
  background: url("../images/map-inner-west.png") no-repeat right center #FFF;
}
/* line 292, ../sass/layout.scss */
.main-content .content-block.area-served-map.eastern-suburbs {
  background: url("../images/map-eastern-suburbs.png") no-repeat right center #FFF;
}
/* line 296, ../sass/layout.scss */
.main-content .content-block.p404 h1 {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  color: #272727;
  margin-bottom: 30px;
}
/* line 304, ../sass/layout.scss */
.main-content .content-block.p404 p {
  text-align: center;
  padding: 0 20px;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  font-size: 24px;
}
/* line 313, ../sass/layout.scss */
.main-content .content-block .post-info-title {
  float: left;
  margin-top: -105px;
  width: 100%;
  position: relative;
  z-index: 10;
}
/* line 320, ../sass/layout.scss */
.main-content .content-block .post-info-title p {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #57c5c7;
  float: left;
  position: relative;
  margin-right: 25px;
  margin-bottom: 10px;
}
/* line 329, ../sass/layout.scss */
.main-content .content-block .post-info-title p.time {
  padding-left: 40px;
}
/* line 332, ../sass/layout.scss */
.main-content .content-block .post-info-title p.time:before {
  content: " ";
  position: absolute;
  left: 0;
  top: -2px;
  width: 26px;
  height: 20px;
  background: url("../images/icon-book-blog.png") no-repeat center center;
}
/* line 347, ../sass/layout.scss */
.main-content .content-block.blog-post h2 {
  padding-bottom: 105px;
}
/* line 351, ../sass/layout.scss */
.main-content .content-block.blog-post .text h1, .main-content .content-block.blog-post .text h2, .main-content .content-block.blog-post .text h3, .main-content .content-block.blog-post .text h4, .main-content .content-block.blog-post .text h5 {
  margin: 30px 0 0 0;
  padding: 0;
  float: left;
  width: 100%;
}
/* line 359, ../sass/layout.scss */
.main-content .content-block.blog-post .post-navigation {
  z-index: 20;
  float: left;
  width: 100%;
  margin-top: 75px;
}
/* line 365, ../sass/layout.scss */
.main-content .content-block.blog-post .post-navigation a {
  display: block;
  width: 90%;
  margin: 0 auto;
  height: 42px;
  background: #272727;
  color: #FFF;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  border: 1px solid #272727;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 384, ../sass/layout.scss */
.main-content .content-block.blog-post .post-navigation a:hover {
  color: #000;
  background: #FFF;
}
/* line 391, ../sass/layout.scss */
.main-content .content-block.blog-post .social-share {
  position: absolute;
  right: 100px;
  top: 220px;
  z-index: 30;
  width: 36px;
  display: none;
}
/* line 399, ../sass/layout.scss */
.main-content .content-block.blog-post .social-share a {
  float: left;
  width: 100%;
  height: 33px;
  display: block;
  margin-bottom: 45px;
}
/* line 406, ../sass/layout.scss */
.main-content .content-block.blog-post .social-share a.twitter {
  background: url("../images/icon-twitter-blue.png") no-repeat center center;
}
/* line 407, ../sass/layout.scss */
.main-content .content-block.blog-post .social-share a.facebook {
  background: url("../images/icon-facebook-blue.png") no-repeat center center;
}
/* line 408, ../sass/layout.scss */
.main-content .content-block.blog-post .social-share a.plus {
  background: url("../images/icon-plus-blue.png") no-repeat center center;
}
/* line 412, ../sass/layout.scss */
.main-content .content-block.blog-post .author {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  float: left;
  width: 100%;
  margin-top: 50px;
}
/* line 423, ../sass/layout.scss */
.main-content .content-block.blog-posts-listing {
  padding: 0;
}
/* line 425, ../sass/layout.scss */
.main-content .content-block.blog-posts-listing .post {
  float: left;
  width: 100%;
  padding: 20px;
  border-top: 1px dashed #dddddd;
}
/* line 431, ../sass/layout.scss */
.main-content .content-block.blog-posts-listing .post:first-child {
  border-top: none;
}
/* line 435, ../sass/layout.scss */
.main-content .content-block.blog-posts-listing .post h3 {
  font-size: 20px;
}
/* line 438, ../sass/layout.scss */
.main-content .content-block.blog-posts-listing .post h3:after {
  display: none;
}
/* line 442, ../sass/layout.scss */
.main-content .content-block.blog-posts-listing .post h3 a {
  color: #000;
}
/* line 447, ../sass/layout.scss */
.main-content .content-block.blog-posts-listing .post .post-info-title {
  margin-top: -85px;
}
/* line 450, ../sass/layout.scss */
.main-content .content-block.blog-posts-listing .post .post-info-title p {
  font-size: 14px;
}
/* line 455, ../sass/layout.scss */
.main-content .content-block.blog-posts-listing .post .excerpt {
  float: left;
  width: 100%;
  margin-top: 40px;
}
/* line 460, ../sass/layout.scss */
.main-content .content-block.blog-posts-listing .post .excerpt p {
  font-family: "merriweather",serif;
  font-style: normal;
  font-weight: 300 !important;
  font-size: 14px;
  color: #939393;
  line-height: 24px;
}
/* line 468, ../sass/layout.scss */
.main-content .content-block.blog-posts-listing .post a.read-more {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  display: block;
  float: left;
  width: 100%;
  margin-top: 15px;
}
/* line 482, ../sass/layout.scss */
.main-content .content-block.search-results .post-result {
  float: left;
  width: 100%;
}
/* line 486, ../sass/layout.scss */
.main-content .content-block.search-results .post-result h3:after {
  display: none;
}
/* line 490, ../sass/layout.scss */
.main-content .content-block.search-results .post-result h3 a {
  color: #272727;
}
/* line 497, ../sass/layout.scss */
.main-content .content-block.product-details h2 {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #272727;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 45px;
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 509, ../sass/layout.scss */
.main-content .content-block.product-details h2:after {
  display: none;
}
/* line 514, ../sass/layout.scss */
.main-content .content-block.product-details .text {
  clear: both;
}
/* line 518, ../sass/layout.scss */
.main-content .content-block.product-details p {
  font-family: "merriweather",serif;
  font-style: normal;
  font-weight: 300 !important;
  color: #939393;
  font-size: 16px;
  margin-top: 30px;
}
/* line 525, ../sass/layout.scss */
.main-content .content-block.product-details .gallery-product {
  float: left;
  width: 100%;
  height: 300px;
  position: relative;
}
/* line 531, ../sass/layout.scss */
.main-content .content-block.product-details .gallery-product .full-image {
  float: left;
  width: 100%;
  height: 300px;
  position: relative;
}
/* line 537, ../sass/layout.scss */
.main-content .content-block.product-details .gallery-product .full-image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: auto;
}
/* line 547, ../sass/layout.scss */
.main-content .content-block.product-details .gallery-product .slider-container {
  display: none;
  position: relative;
  width: 120px;
  height: 330px;
  overflow: hidden;
  float: left;
  margin-left: 20px;
  margin-top: 50px;
}
/* line 558, ../sass/layout.scss */
.main-content .content-block.product-details .gallery-product .flexslider {
  float: left;
  width: 120px;
  height: 240px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin: 38px 0 0 0;
}
/* line 567, ../sass/layout.scss */
.main-content .content-block.product-details .gallery-product .flexslider .flex-viewport {
  height: 240px !important;
}
/* line 572, ../sass/layout.scss */
.main-content .content-block.product-details .gallery-product .flexslider .slides li {
  float: left;
  width: 120px;
  height: 120px;
  display: block;
}
/* line 578, ../sass/layout.scss */
.main-content .content-block.product-details .gallery-product .flexslider .slides li img {
  max-width: 90%;
  max-height: 90%;
  height: 100%;
  width: auto;
  display: block;
  margin: 0 auto;
}
/* line 589, ../sass/layout.scss */
.main-content .content-block.product-details .gallery-product .flexslider .flex-direction-nav a {
  text-indent: -99999px;
  width: 27px;
  height: 14px;
  position: absolute;
  margin: 0;
}
/* line 596, ../sass/layout.scss */
.main-content .content-block.product-details .gallery-product .flexslider .flex-direction-nav a.flex-prev {
  background: url("../images/arrow-up-black.png") no-repeat center center;
  top: -38px;
  left: 45px;
}
/* line 602, ../sass/layout.scss */
.main-content .content-block.product-details .gallery-product .flexslider .flex-direction-nav a.flex-next {
  background: url("../images/arrow-down-black.png") no-repeat center center;
  top: 260px;
  left: 45px;
}
/* line 611, ../sass/layout.scss */
.main-content .content-block.product-details .rental-container {
  float: left;
  width: 100%;
  margin-top: 30px;
}
/* line 616, ../sass/layout.scss */
.main-content .content-block.product-details .rental-container h2 {
  margin-top: 0;
  margin-bottom: 30px;
}
/* line 621, ../sass/layout.scss */
.main-content .content-block.product-details .rental-container a.options {
  float: left;
  width: 100%;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #000;
  margin-bottom: 25px;
  line-height: 20px;
}
/* line 630, ../sass/layout.scss */
.main-content .content-block.product-details .rental-container a.options span {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #57c5c7;
  font-size: 24px;
  padding: 0 7px;
}
/* line 637, ../sass/layout.scss */
.main-content .content-block.product-details .rental-container a.options .checkbox {
  float: left;
  width: 23px;
  height: 23px;
  border: 1px solid #cccccc;
  margin-right: 15px;
}
/* line 646, ../sass/layout.scss */
.main-content .content-block.product-details .rental-container a.options.active .checkbox {
  background: url("../images/check-white.png") no-repeat center center #57c5c7;
}
/* line 652, ../sass/layout.scss */
.main-content .content-block.product-details .rental-container .price-title {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  float: left;
  text-align: center;
  width: 100%;
  margin: 15px 0 30px 0;
}
/* line 662, ../sass/layout.scss */
.main-content .content-block.product-details .rental-container .btn-rent {
  display: block;
  clear: both;
  width: 100%;
  height: 44px;
  background: #272727;
  color: #FFF;
  text-align: center;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 44px;
  text-transform: uppercase;
}
/* line 678, ../sass/layout.scss */
.main-content .content-block h2, .main-content .content-block h3:not(.black-section-title), .main-content .content-block h4 {
  font-family: "merriweather",serif;
  font-style: normal;
  font-weight: 900;
  margin-bottom: 50px;
  position: relative;
  padding-bottom: 50px;
  letter-spacing: 1px;
}
/* line 686, ../sass/layout.scss */
.main-content .content-block h2 {
  font-size: 20px;
}
/* line 690, ../sass/layout.scss */
.main-content .content-block h3, .main-content .content-block h4 {
  font-size: 18px;
}
/* line 694, ../sass/layout.scss */
.main-content .content-block h2:after, .main-content .content-block h3:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 36px;
  height: 4px;
  background: #57c5c7;
}
/* line 704, ../sass/layout.scss */
.main-content .content-block .text {
  position: relative;
  color: #939393;
  font-size: 14px;
  font-family: "merriweather",serif;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 24px;
}
/* line 711, ../sass/layout.scss */
.main-content .content-block .text p {
  margin-top: 25px;
  float: left;
  width: 100%;
}
/* line 716, ../sass/layout.scss */
.main-content .content-block .text p:first-child {
  margin-top: 0;
}
/* line 720, ../sass/layout.scss */
.main-content .content-block .text p strong, .main-content .content-block .text p span, .main-content .content-block .text p a {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
}
/* line 724, ../sass/layout.scss */
.main-content .content-block .text p strong {
  color: #000;
}
/* line 728, ../sass/layout.scss */
.main-content .content-block .text p span, .main-content .content-block .text p a {
  color: #57c5c7;
}
/* line 734, ../sass/layout.scss */
.main-content .content-block .appliances-categories {
  margin-bottom: 80px;
  float: left;
  width: 100%;
}
/* line 739, ../sass/layout.scss */
.main-content .content-block .appliances-categories a.appliance {
  width: 100%;
  float: left;
  text-align: center;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  margin-top: 30px;
}
/* line 749, ../sass/layout.scss */
.main-content .content-block .appliances-categories a.appliance:first-child {
  margin-top: 0;
}
/* line 753, ../sass/layout.scss */
.main-content .content-block .appliances-categories a.appliance img {
  display: block;
  clear: both;
  margin: 0 auto 30px auto;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -47px;
}
/* line 765, ../sass/layout.scss */
.main-content .content-block .black-section-title {
  background: #272727;
  text-align: center;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  width: 100%;
  float: left;
  line-height: 44px;
  color: #FFF;
}
/* line 776, ../sass/layout.scss */
.main-content .content-block .black-section-title:after {
  display: none;
}
/* line 780, ../sass/layout.scss */
.main-content .content-block .black-section-title span {
  position: relative;
}
/* line 783, ../sass/layout.scss */
.main-content .content-block .black-section-title span:before {
  content: " ";
  position: absolute;
  right: -33px;
  top: 4px;
  width: 16px;
  height: 9px;
  background: url("../images/arrow-down.png") no-repeat center center;
}
/* line 796, ../sass/layout.scss */
.main-content .content-block .brands-list li {
  width: 100%;
  text-align: center;
  float: left;
  margin-top: 50px;
}
/* line 804, ../sass/layout.scss */
.main-content .content-block .support-phone {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #57c5c7;
  font-size: 35px;
  padding-left: 75px;
  margin: 45px 0 55px 0;
  float: left;
  width: 100%;
  position: relative;
  line-height: 45px;
}
/* line 815, ../sass/layout.scss */
.main-content .content-block .support-phone:before {
  content: " ";
  position: absolute;
  left: 15px;
  top: 3px;
  width: 40px;
  height: 39px;
  background: url("../images/icon-phone-blue.png") no-repeat center center;
}
/* line 828, ../sass/layout.scss */
.main-content .content-block .write-review {
  height: 44px;
  line-height: 44px;
  padding: 0 25px;
  background: #272727;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFF;
  position: relative;
  display: block;
  right: auto;
  left: auto;
  top: auto;
  margin: 0 auto;
  text-align: center;
}
/* line 845, ../sass/layout.scss */
.main-content .content-block.reviews-listing {
  padding: 0;
}
/* line 847, ../sass/layout.scss */
.main-content .content-block.reviews-listing .hreview {
  float: left;
  width: 100%;
  padding: 20px;
  border-top: 1px dashed #dddddd;
}
/* line 853, ../sass/layout.scss */
.main-content .content-block.reviews-listing .hreview:first-child {
  border-top: none;
}
/* line 857, ../sass/layout.scss */
.main-content .content-block.reviews-listing .hreview h4 {
  font-size: 30px;
}
/* line 860, ../sass/layout.scss */
.main-content .content-block.reviews-listing .hreview h4:after {
  display: none;
}
/* line 864, ../sass/layout.scss */
.main-content .content-block.reviews-listing .hreview h4 a {
  color: #000;
}
/* line 869, ../sass/layout.scss */
.main-content .content-block.reviews-listing .hreview .post-info-title {
  margin-top: -85px;
}
/* line 872, ../sass/layout.scss */
.main-content .content-block.reviews-listing .hreview .post-info-title p {
  font-size: 14px;
}
/* line 877, ../sass/layout.scss */
.main-content .content-block.reviews-listing .hreview .excerpt {
  float: left;
  width: 100%;
  margin-top: 40px;
}
/* line 882, ../sass/layout.scss */
.main-content .content-block.reviews-listing .hreview .excerpt p {
  font-family: "merriweather",serif;
  font-style: normal;
  font-weight: 300 !important;
  font-size: 14px;
  color: #939393;
  line-height: 24px;
}
/* line 890, ../sass/layout.scss */
.main-content .content-block.reviews-listing .hreview a.read-more {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  display: block;
  float: left;
  width: 100%;
  margin-top: 15px;
}
/* line 903, ../sass/layout.scss */
.main-content .content-block .ball-about {
  float: left;
  width: 100%;
  height: 53px;
  margin-bottom: 50px;
  background: url("../images/icon-bouncing-ball.png") no-repeat left center;
  clear: both;
  margin-left: -20px;
  display: none;
}
/* line 914, ../sass/layout.scss */
.main-content .content-block .appliances-selector {
  margin-bottom: 10px;
  margin-top: 30px;
  float: left;
  width: 100%;
  background: #FFF;
}
/* line 921, ../sass/layout.scss */
.main-content .content-block .appliances-selector a.appliance {
  width: 100%;
  float: left;
  text-align: center;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000;
  position: relative;
  text-transform: uppercase;
  background: #FFF;
  padding: 95px 0 80px 0;
  border-top: 1px dashed #dddddd;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 939, ../sass/layout.scss */
.main-content .content-block .appliances-selector a.appliance:hover {
  background: #3c3c3c;
  color: #FFF;
  border-top: 1px solid #272727;
  border-right: 1px solid #272727;
}
/* line 946, ../sass/layout.scss */
.main-content .content-block .appliances-selector a.appliance:first-child {
  border-top: none;
}
/* line 950, ../sass/layout.scss */
.main-content .content-block .appliances-selector a.appliance img {
  display: block;
  clear: both;
  margin: 0 auto 30px auto;
}
/* line 958, ../sass/layout.scss */
.main-content .content-block .product-selector {
  float: left;
  width: 100%;
  background: #FFF;
}
/* line 963, ../sass/layout.scss */
.main-content .content-block .product-selector .product {
  width: 100%;
  height: 800px;
  float: left;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  background: #FFF;
  border-top: 1px dashed #dddddd;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 978, ../sass/layout.scss */
.main-content .content-block .product-selector .product:first-child {
  border-top: none;
}
/* line 982, ../sass/layout.scss */
.main-content .content-block .product-selector .product .product-image {
  padding-top: 80px;
  margin-bottom: 30px;
}
/* line 986, ../sass/layout.scss */
.main-content .content-block .product-selector .product .product-image img {
  display: block;
  clear: both;
  margin: 0 auto;
}
/* line 993, ../sass/layout.scss */
.main-content .content-block .product-selector .product .prod-name {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000;
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
/* line 1002, ../sass/layout.scss */
.main-content .content-block .product-selector .product p {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  text-transform: none;
  line-height: 30px;
}
/* line 1008, ../sass/layout.scss */
.main-content .content-block .product-selector .product p span {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #57c5c7;
  font-size: 24px;
  padding: 0 7px;
}
/* line 1016, ../sass/layout.scss */
.main-content .content-block .product-selector .product .price-title {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  margin: 15px 0;
  float: left;
  width: 100%;
  text-align: center;
}
/* line 1025, ../sass/layout.scss */
.main-content .content-block .product-selector .product .btn-view {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #FFF;
  background: #272727;
  text-align: center;
  width: 162px;
  height: 44px;
  display: block;
  margin: 45px auto 0 auto;
  line-height: 44px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 1041, ../sass/layout.scss */
.main-content .content-block .product-selector .product .btn-view:hover {
  background: #939393;
}
/* line 1049, ../sass/layout.scss */
.main-content .content-block .container-form {
  width: 100%;
  border: 1px solid #c4c4c4;
  float: left;
  border-radius: 3px;
  height: 44px;
  margin-top: 20px;
  margin-bottom: -50px;
}
/* line 1058, ../sass/layout.scss */
.main-content .content-block .container-form input[type="search"] {
  height: 42px;
  padding-left: 15px;
  width: 75%;
  background: none;
  border: none;
  outline: none;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  color: #939393;
}
/* line 1071, ../sass/layout.scss */
.main-content .content-block .container-form input[type="submit"] {
  float: right;
  width: 24px;
  height: 25px;
  border: none;
  background: url("../images/icon-search.png") no-repeat center center transparent;
  text-indent: -99999px;
  cursor: pointer;
  margin-top: 8px;
  margin-right: 15px;
  outline: none;
}
/* line 1085, ../sass/layout.scss */
.main-content .content-block .map-areas {
  float: left;
  width: 100%;
  background: #FFF;
  position: relative;
  margin-top: 55px;
}
/* line 1092, ../sass/layout.scss */
.main-content .content-block .map-areas a {
  float: left;
  position: relative;
  width: 100%;
  text-align: center;
  height: 44px;
  line-height: 44px;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #57c5c7;
  background: #FFF;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 1110, ../sass/layout.scss */
.main-content .content-block .map-areas a.northern-beaches, .main-content .content-block .map-areas a.north-shore, .main-content .content-block .map-areas a.inner-west, .main-content .content-block .map-areas a.eastern-suburbs {
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
}
/* line 1117, ../sass/layout.scss */
.main-content .content-block .map-areas a:hover {
  background: #272727;
}
/* line 1125, ../sass/layout.scss */
.main-content .content-block .owl-carousel {
  float: left;
  width: 100%;
  height: 300px;
  background: #939393;
  overflow: hidden;
  position: relative;
  z-index: 30;
}
/* line 1134, ../sass/layout.scss */
.main-content .content-block .owl-carousel img {
  display: block;
  max-height: 300px;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 0 auto;
}
/* line 1143, ../sass/layout.scss */
.main-content .content-block .owl-carousel#sync2 {
  display: none;
}
/* line 1148, ../sass/layout.scss */
.main-content .content-block .form-container {
  max-width: 700px;
  background: #FFF;
  padding: 50px 30px;
  position: relative;
  margin: 124px auto 0 auto;
}
/* line 1155, ../sass/layout.scss */
.main-content .content-block .form-container label {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
/* line 1165, ../sass/layout.scss */
.main-content .content-block .form-container input, .main-content .content-block .form-container textarea {
  float: left;
  width: 97%;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #272727;
  font-size: 18px;
  padding: 5px;
  outline: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 1181, ../sass/layout.scss */
.main-content .content-block .form-container input:focus, .main-content .content-block .form-container textarea:focus {
  border: 1px solid #272727;
}
/* line 1186, ../sass/layout.scss */
.main-content .content-block .form-container input {
  height: 33px;
  margin-bottom: 20px;
}
/* line 1191, ../sass/layout.scss */
.main-content .content-block .form-container textarea {
  height: 178px;
  resize: none;
  margin-bottom: 65px;
}
/* line 1197, ../sass/layout.scss */
.main-content .content-block .form-container input[type="submit"] {
  position: relative;
  margin: 0 auto;
  max-width: 214px;
  height: 44px;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFF;
  background: #272727;
  float: none;
  display: block;
  border-radius: 0;
  cursor: pointer;
  border: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 1217, ../sass/layout.scss */
.main-content .content-block .form-container input[type="submit"]:hover {
  background: #939393;
}

/* line 1229, ../sass/layout.scss */
.site-footer {
  float: left;
  width: 100%;
  padding-bottom: 50px;
}
/* line 1234, ../sass/layout.scss */
.site-footer .wrapper {
  padding: 0;
}
/* line 1235, ../sass/layout.scss */
.site-footer nav {
  clear: both;
}
/* line 1237, ../sass/layout.scss */
.site-footer .social-nav {
  width: 100%;
  background: #272727;
  height: 44px;
  clear: both;
  float: right;
}
/* line 1244, ../sass/layout.scss */
.site-footer .social-nav li {
  float: left;
  width: 33%;
  height: 44px;
}
/* line 1249, ../sass/layout.scss */
.site-footer .social-nav li a {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  text-indent: -99999px;
}
/* line 1258, ../sass/layout.scss */
.site-footer .social-nav li.social-twitter a {
  background: url("../images/icon-twitter.png") no-repeat center center;
}
/* line 1259, ../sass/layout.scss */
.site-footer .social-nav li.social-facebook a {
  background: url("../images/icon-facebook.png") no-repeat center center;
}
/* line 1260, ../sass/layout.scss */
.site-footer .social-nav li.social-plus a {
  background: url("../images/icon-plus.png") no-repeat center center;
}
/* line 1264, ../sass/layout.scss */
.site-footer .footer-nav {
  display: none;
}
/* line 1266, ../sass/layout.scss */
.site-footer .footer-nav li {
  float: left;
}
/* line 1269, ../sass/layout.scss */
.site-footer .footer-nav li a {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #939393;
  padding: 0 10px;
  text-decoration: none;
}
/* line 1280, ../sass/layout.scss */
.site-footer .footer-info {
  clear: both;
  margin-top: 30px;
  display: block;
  float: left;
  width: 100%;
}
/* line 1287, ../sass/layout.scss */
.site-footer .footer-info p, .site-footer .footer-info a {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #939393;
  text-align: center;
  line-height: 26px;
}

/* line 1305, ../sass/layout.scss */
#wpcr_respond_1 .hreview .wpcr_sc {
  margin-right: 15px;
}
/* line 1309, ../sass/layout.scss */
#wpcr_respond_1 .hreview h4.summary {
  color: #272727;
  font-size: 28px;
  margin-bottom: 25px;
}
/* line 1315, ../sass/layout.scss */
#wpcr_respond_1 .hreview .dtreviewed {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  border-bottom: none;
}
/* line 1321, ../sass/layout.scss */
#wpcr_respond_1 .hreview .wpcr_rname {
  color: #57c5c7;
}
/* line 1324, ../sass/layout.scss */
#wpcr_respond_1 .hreview .wpcr_rname span {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 300;
}
/* line 1328, ../sass/layout.scss */
#wpcr_respond_1 .hreview .wpcr_rname .vcard .fn {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
/* line 1334, ../sass/layout.scss */
#wpcr_respond_1 .hreview .description {
  margin: 30px 0;
}
/* line 1337, ../sass/layout.scss */
#wpcr_respond_1 .hreview .description p {
  font-family: "merriweather",serif;
  font-style: normal;
  font-weight: 300 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}

/* line 1347, ../sass/layout.scss */
.content-block.reviews-listing .description {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #939393;
}
/* line 1351, ../sass/layout.scss */
.content-block.reviews-listing .description a {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  display: block;
  float: left;
  width: 100%;
  margin-top: 15px;
}
/* line 1363, ../sass/layout.scss */
.content-block.reviews-listing #wpcr_respond_1 a#wpcr_button_1, .content-block.reviews-listing #wpcr_respond_2 a#wpcr_button_1, .content-block.reviews-listing hr {
  display: none !important;
}

@media only screen and (min-width: 450px) {
  /* line 6, ../sass/responsive.scss */
  .site-header .top-bar .delivery-phone-box span.phone {
    text-align: right;
    float: right;
  }

  /* line 17, ../sass/responsive.scss */
  .main-content .content-block .ball-about {
    display: block;
  }
}
@media only screen and (min-width: 480px) {
  /* line 31, ../sass/responsive.scss */
  .site-header .top-bar .delivery-phone-box span {
    font-size: 16px;
    padding: 10px 0 10px 30px;
  }
  /* line 36, ../sass/responsive.scss */
  .site-header .top-bar .delivery-phone-box span.delivery:before {
    top: 14px;
    width: 20px;
    height: 22px;
  }
  /* line 44, ../sass/responsive.scss */
  .site-header .top-bar .delivery-phone-box span.phone:before {
    top: 15px;
    width: 20px;
    height: 20px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 62, ../sass/responsive.scss */
  .site-header .top-bar .wrapper {
    padding: 0 20px;
  }
  /* line 66, ../sass/responsive.scss */
  .site-header .top-bar .logo-container {
    width: 280px;
  }
  /* line 70, ../sass/responsive.scss */
  .site-header .top-bar .delivery-phone-box {
    padding: 0;
  }
  /* line 73, ../sass/responsive.scss */
  .site-header .top-bar .delivery-phone-box span {
    font-size: 14px;
    padding: 10px 0 10px 57px;
    line-height: 65px;
  }
  /* line 78, ../sass/responsive.scss */
  .site-header .top-bar .delivery-phone-box span.delivery {
    margin-left: 25px;
  }
  /* line 80, ../sass/responsive.scss */
  .site-header .top-bar .delivery-phone-box span.delivery:before {
    top: 25px;
    width: 35px;
    height: 38px;
  }
  /* line 88, ../sass/responsive.scss */
  .site-header .top-bar .delivery-phone-box span.phone:before {
    top: 30px;
    width: 27px;
    height: 27px;
  }

  /* line 102, ../sass/responsive.scss */
  .main-content .content-block {
    padding: 70px 0;
  }
  /* line 105, ../sass/responsive.scss */
  .main-content .content-block.gray {
    padding: 0 0 70px 0;
  }
  /* line 109, ../sass/responsive.scss */
  .main-content .content-block.block-ball {
    display: block;
    margin-bottom: -120px;
  }
  /* line 117, ../sass/responsive.scss */
  .main-content .content-block.blog-post .post-navigation a {
    width: 158px;
  }
  /* line 120, ../sass/responsive.scss */
  .main-content .content-block.blog-post .post-navigation a.next-post {
    float: left;
    margin-left: 20px;
  }
  /* line 125, ../sass/responsive.scss */
  .main-content .content-block.blog-post .post-navigation a.prev-post {
    float: right;
    margin-right: 20px;
  }
  /* line 135, ../sass/responsive.scss */
  .main-content .content-block.blog-posts-listing .post h3 {
    font-size: 30px;
  }
  /* line 139, ../sass/responsive.scss */
  .main-content .content-block.blog-posts-listing .post .post-info-title {
    margin-top: -65px;
  }
  /* line 142, ../sass/responsive.scss */
  .main-content .content-block.blog-posts-listing .post .post-info-title p {
    font-size: 16px;
  }
  /* line 146, ../sass/responsive.scss */
  .main-content .content-block.blog-posts-listing .post .excerpt {
    margin-top: 20px;
  }
  /* line 149, ../sass/responsive.scss */
  .main-content .content-block.blog-posts-listing .post .excerpt p {
    font-size: 16px;
  }
  /* line 156, ../sass/responsive.scss */
  .main-content .content-block h2 {
    font-size: 38px;
    margin-bottom: 30px;
    line-height: 50px;
  }
  /* line 162, ../sass/responsive.scss */
  .main-content .content-block h3:not(.black-section-title) {
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 45px;
  }
  /* line 168, ../sass/responsive.scss */
  .main-content .content-block .text {
    font-size: 16px;
    line-height: 26px;
  }
  /* line 173, ../sass/responsive.scss */
  .main-content .content-block .appliances-categories {
    margin-bottom: -50px;
  }
  /* line 177, ../sass/responsive.scss */
  .main-content .content-block .appliances-categories a.appliance {
    width: 50%;
    margin-bottom: 30px;
    margin-top: 0;
  }
  /* line 182, ../sass/responsive.scss */
  .main-content .content-block .appliances-categories a.appliance .appliance-icon {
    width: 100%;
    height: 154px;
    text-align: center;
    position: relative;
    margin-bottom: 45px;
  }
  /* line 192, ../sass/responsive.scss */
  .main-content .content-block .black-section-title {
    margin-bottom: 25px;
  }
  /* line 197, ../sass/responsive.scss */
  .main-content .content-block .brands-list li {
    height: 90px;
    width: 50%;
    text-align: center;
    white-space: nowrap;
  }
  /* line 203, ../sass/responsive.scss */
  .main-content .content-block .brands-list li:before, .main-content .content-block .brands-list li.li_before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  /* line 211, ../sass/responsive.scss */
  .main-content .content-block .brands-list li img {
    vertical-align: middle;
    max-height: 90px;
    max-width: 243px;
  }
  /* line 219, ../sass/responsive.scss */
  .main-content .content-block .ball-about {
    margin-left: -60px;
    margin-right: 100px;
  }
  /* line 224, ../sass/responsive.scss */
  .main-content .content-block .appliances-selector {
    margin-top: 80px;
  }
  /* line 227, ../sass/responsive.scss */
  .main-content .content-block .appliances-selector a.appliance {
    width: 49.8%;
    border-right: 1px dashed #dddddd;
  }
  /* line 231, ../sass/responsive.scss */
  .main-content .content-block .appliances-selector a.appliance .appliance-icon {
    width: 100%;
    height: 154px;
    text-align: center;
    position: relative;
    margin-bottom: 80px;
  }
  /* line 239, ../sass/responsive.scss */
  .main-content .content-block .appliances-selector a.appliance img {
    margin: 0;
    margin-left: -47px;
    bottom: 0;
    left: 50%;
    position: absolute;
  }
  /* line 247, ../sass/responsive.scss */
  .main-content .content-block .appliances-selector a.appliance:nth-child(even) {
    border-right: none;
  }
  /* line 251, ../sass/responsive.scss */
  .main-content .content-block .appliances-selector a.appliance.fridges {
    border-top: none;
  }
  /* line 259, ../sass/responsive.scss */
  .main-content .content-block .product-selector .product {
    width: 49.8%;
    border-right: 1px dashed #dddddd;
  }
  /* line 263, ../sass/responsive.scss */
  .main-content .content-block .product-selector .product .product-image {
    width: 100%;
    height: 320px;
    text-align: center;
    position: relative;
    margin-bottom: 80px;
  }
  /* line 271, ../sass/responsive.scss */
  .main-content .content-block .product-selector .product:nth-child(2) {
    border-top: none;
  }
  /* line 275, ../sass/responsive.scss */
  .main-content .content-block .product-selector .product:nth-child(even) {
    border-right: none;
  }
  /* line 281, ../sass/responsive.scss */
  .main-content .content-block .form-container {
    padding: 75px 90px;
  }
  /* line 284, ../sass/responsive.scss */
  .main-content .content-block .form-container label {
    margin-bottom: 25px;
  }
  /* line 288, ../sass/responsive.scss */
  .main-content .content-block .form-container input {
    margin-bottom: 45px;
  }
  /* line 293, ../sass/responsive.scss */
  .main-content .content-block .map-areas {
    float: left;
    width: 100%;
    background: url("../images/map.jpg") no-repeat center center #FFF;
    width: 1060px;
    height: 711px;
    position: relative;
    margin-top: 55px;
  }
  /* line 302, ../sass/responsive.scss */
  .main-content .content-block .map-areas a {
    position: absolute;
    font-size: 16px;
    color: #000;
    background: url("../images/map-marker.png") no-repeat center center;
    text-transform: uppercase;
    text-align: center;
    line-height: 22px;
    width: 143px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  /* line 317, ../sass/responsive.scss */
  .main-content .content-block .map-areas a.northern-beaches {
    left: 483px;
    top: 49px;
    height: 46px;
    padding: 15px 0;
  }
  /* line 324, ../sass/responsive.scss */
  .main-content .content-block .map-areas a.north-shore {
    left: 340px;
    top: 281px;
    height: 26px;
    padding: 25px 0;
  }
  /* line 331, ../sass/responsive.scss */
  .main-content .content-block .map-areas a.inner-west {
    left: 118px;
    top: 502px;
    height: 26px;
    padding: 25px 0;
  }
  /* line 338, ../sass/responsive.scss */
  .main-content .content-block .map-areas a.eastern-suburbs {
    left: 483px;
    top: 589px;
    height: 46px;
    padding: 15px 0;
  }
  /* line 345, ../sass/responsive.scss */
  .main-content .content-block .map-areas a:hover {
    color: #FFF;
  }
  /* line 348, ../sass/responsive.scss */
  .main-content .content-block .map-areas a:hover:after {
    background: url("../images/tooltip-arrow-hover.png") no-repeat center center;
    bottom: -11px;
  }
  /* line 354, ../sass/responsive.scss */
  .main-content .content-block .map-areas a:after {
    content: " ";
    position: absolute;
    right: 17px;
    bottom: -12px;
    width: 27px;
    height: 13px;
    background: url("../images/tooltip-arrow.png") no-repeat center center;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
  }
  /* line 373, ../sass/responsive.scss */
  .main-content .content-block.reviews-listing .hreview {
    width: 49.8%;
    border-right: 1px dashed #dddddd;
  }
  /* line 377, ../sass/responsive.scss */
  .main-content .content-block.reviews-listing .hreview .description {
    font-size: 18px;
  }
  /* line 379, ../sass/responsive.scss */
  .main-content .content-block.reviews-listing .hreview .description a {
    text-transform: uppercase;
    float: left;
    width: 100%;
    margin-top: 25px;
    font-size: 14px;
    display: block;
  }
  /* line 389, ../sass/responsive.scss */
  .main-content .content-block.reviews-listing .hreview:nth-child(even) {
    border-right: none;
  }
  /* line 393, ../sass/responsive.scss */
  .main-content .content-block.reviews-listing .hreview:nth-child(2) {
    border-top: none;
  }
  /* line 398, ../sass/responsive.scss */
  .main-content .content-block.reviews-listing #wpcr_respond_1 a#wpcr_button_1, .main-content .content-block.reviews-listing #wpcr_respond_2 a#wpcr_button_1, .main-content .content-block.reviews-listing hr {
    display: none !important;
  }

  /* line 410, ../sass/responsive.scss */
  .site-footer .wrapper {
    padding: 0 20px;
  }
  /* line 414, ../sass/responsive.scss */
  .site-footer .social-nav {
    width: 214px;
  }
  /* line 418, ../sass/responsive.scss */
  .site-footer .footer-nav {
    display: block;
    width: 50%;
    line-height: 30px;
  }
  /* line 424, ../sass/responsive.scss */
  .site-footer .footer-info {
    float: left;
    margin-left: 10px;
  }
  /* line 428, ../sass/responsive.scss */
  .site-footer .footer-info p {
    text-align: left;
  }

  /* line 436, ../sass/responsive.scss */
  #wpcr_respond_1 .description p {
    font-size: 16px !important;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 445, ../sass/responsive.scss */
  .product-wrapper {
    padding: 0;
  }

  /* line 453, ../sass/responsive.scss */
  .site-header .top-bar .logo-container a {
    float: left;
  }
  /* line 456, ../sass/responsive.scss */
  .site-header .top-bar .delivery-phone-box span {
    font-size: 21px;
    line-height: 65px;
    letter-spacing: 2px;
  }
  /* line 461, ../sass/responsive.scss */
  .site-header .top-bar .delivery-phone-box span.delivery {
    margin-left: 54px;
  }
  /* line 466, ../sass/responsive.scss */
  .site-header .top-bar .delivery-phone-box span.phone:before {
    left: 15px;
  }
  /* line 474, ../sass/responsive.scss */
  .site-header .main-nav {
    display: block;
  }
  /* line 477, ../sass/responsive.scss */
  .site-header .main-nav li:hover .sub-menu {
    display: block;
  }
  /* line 480, ../sass/responsive.scss */
  .site-header .mobile-nav {
    display: none;
  }

  /* line 490, ../sass/responsive.scss */
  .main-content .content-block h2, .main-content .content-block h3 {
    max-width: 520px;
  }
  /* line 493, ../sass/responsive.scss */
  .main-content .content-block h2.black-section-title, .main-content .content-block h3.black-section-title {
    max-width: 100%;
  }
  /* line 498, ../sass/responsive.scss */
  .main-content .content-block .text {
    max-width: 630px;
  }
  /* line 504, ../sass/responsive.scss */
  .main-content .content-block .appliances-categories a.appliance {
    width: 17%;
    margin-left: 10.6%;
  }
  /* line 508, ../sass/responsive.scss */
  .main-content .content-block .appliances-categories a.appliance:first-child {
    margin-left: 0;
  }
  /* line 512, ../sass/responsive.scss */
  .main-content .content-block .appliances-categories a.appliance .appliance-icon {
    height: 108px;
  }
  /* line 515, ../sass/responsive.scss */
  .main-content .content-block .appliances-categories a.appliance .appliance-icon.washing img, .main-content .content-block .appliances-categories a.appliance .appliance-icon.dryers img {
    width: 66px;
    height: 68px;
    margin-left: -33px;
  }
  /* line 521, ../sass/responsive.scss */
  .main-content .content-block .appliances-categories a.appliance .appliance-icon.fridges img {
    width: 66px;
    height: 108px;
    margin-left: -33px;
  }
  /* line 527, ../sass/responsive.scss */
  .main-content .content-block .appliances-categories a.appliance .appliance-icon.microwaves img {
    width: 72px;
    height: 47px;
    margin-left: -36px;
  }
  /* line 537, ../sass/responsive.scss */
  .main-content .content-block .brands-list li {
    width: 33%;
    margin-bottom: 25px;
  }
  /* line 543, ../sass/responsive.scss */
  .main-content .content-block .ball-about {
    margin-left: -90px;
  }
  /* line 548, ../sass/responsive.scss */
  .main-content .content-block.blog-post .post-navigation {
    position: absolute;
    right: 20px;
    top: 75px;
    width: 160px;
    margin-top: 0;
  }
  /* line 556, ../sass/responsive.scss */
  .main-content .content-block.blog-post .post-navigation a.prev-post, .main-content .content-block.blog-post .post-navigation a.next-post {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
  /* line 564, ../sass/responsive.scss */
  .main-content .content-block.blog-post .social-share {
    display: block;
  }
  /* line 570, ../sass/responsive.scss */
  .main-content .content-block.blog-posts-listing .post {
    padding: 60px 90px;
    width: 49.8%;
    border-right: 1px dashed #ddd;
    min-height: 450px;
  }
  /* line 576, ../sass/responsive.scss */
  .main-content .content-block.blog-posts-listing .post h3 {
    font-size: 30px;
    padding-bottom: 0;
    overflow: hidden;
    max-height: 95px;
    margin-bottom: 100px;
  }
  /* line 584, ../sass/responsive.scss */
  .main-content .content-block.blog-posts-listing .post:nth-child(2) {
    border-top: none;
  }
  /* line 588, ../sass/responsive.scss */
  .main-content .content-block.blog-posts-listing .post:nth-child(even) {
    border-right: none;
  }
  /* line 596, ../sass/responsive.scss */
  .main-content .content-block.product-details .gallery-product {
    width: 575px;
    height: 430px;
    position: relative;
  }
  /* line 601, ../sass/responsive.scss */
  .main-content .content-block.product-details .gallery-product .full-image {
    float: left;
    width: 430px;
    height: 430px;
    position: relative;
  }
  /* line 607, ../sass/responsive.scss */
  .main-content .content-block.product-details .gallery-product .full-image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: auto;
  }
  /* line 617, ../sass/responsive.scss */
  .main-content .content-block.product-details .gallery-product .slider-container {
    display: block;
  }
  /* line 622, ../sass/responsive.scss */
  .main-content .content-block.product-details .rental-container {
    float: right;
    width: 270px;
  }
  /* line 628, ../sass/responsive.scss */
  .main-content .content-block .container-form {
    width: 355px;
    float: none;
    display: block;
    margin: 20px auto -50px auto;
  }
  /* line 635, ../sass/responsive.scss */
  .main-content .content-block .write-review {
    position: absolute;
    right: -70px;
    top: 5px;
  }
  /* line 642, ../sass/responsive.scss */
  .main-content .content-block.reviews-listing .hreview {
    padding: 60px;
  }

  /* line 652, ../sass/responsive.scss */
  .site-footer .footer-nav {
    margin-left: 30px;
    width: 100%;
  }
  /* line 657, ../sass/responsive.scss */
  .site-footer .footer-info {
    margin-left: 40px;
  }
}
