@media only screen and (min-width: 450px) {
	.site-header {
		.top-bar {
			.delivery-phone-box {
				span {
					&.phone {
						text-align: right;
						float: right;
					}
				}
			}
		}
	}

	.main-content {
		.content-block {
			.ball-about {
				display: block;
			}
		}
	}
}

@media only screen and (min-width: 480px) {
	
	// HEADER

	.site-header {
		.top-bar {
			.delivery-phone-box {
				span {
					font-size: 16px;
					padding: 10px 0 10px 30px;

					&.delivery {
						&:before {
							top: 14px;
							width: 20px;
							height: 22px;
						}
					}

					&.phone {
						&:before {
							top: 15px;
							width: 20px;
							height: 20px;
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {

	// HEADER

	.site-header {
		.top-bar {
			.wrapper {
				padding: 0 20px;
			}

			.logo-container {
				width: 280px;
			}

			.delivery-phone-box {
				padding: 0;

				span {
					font-size: 14px;
					padding: 10px 0 10px 57px;
					line-height: 65px;

					&.delivery {
						margin-left: 25px;
						&:before {
							top: 25px;
							width: 35px;
							height: 38px;
						}
					}

					&.phone {
						&:before {
							top: 30px;
							width: 27px;
							height: 27px;
						}
					}
				}
			}
		}
	}

	// MAIN CONTENT

	.main-content {
		.content-block {
			padding: 70px 0;

			&.gray {
				padding: 0 0 70px 0;
			}

			&.block-ball {
				display: block;
				margin-bottom: -120px;
			}

			&.blog-post {

				.post-navigation {
					a {
						width: 158px;

						&.next-post {
							float: left;
							margin-left: 20px;
						}

						&.prev-post {
							float: right;
							margin-right: 20px;
						}
					}
				}
			}

			&.blog-posts-listing {
				.post {
					h3 {
						font-size: 30px;
					}

					.post-info-title {
						margin-top: -65px;

						p {
							font-size: 16px;
						}
					}
					.excerpt {
						margin-top: 20px;

						p {
							font-size: 16px;
						}
					}
				}
			}

			h2 {
				font-size: 38px;
				margin-bottom: 30px;
				line-height: 50px;
			}

			h3:not(.black-section-title) {
				font-size: 30px;
				margin-bottom: 30px;
				line-height: 45px;
			}

			.text {
				font-size: 16px;
				line-height: 26px;
			}

			.appliances-categories {

				margin-bottom: -50px;

				a.appliance {
					width: 50%;
					margin-bottom: 30px;
					margin-top: 0;

					.appliance-icon {
						width: 100%;
						height: 154px;
						text-align: center;
						position: relative;
						margin-bottom: 45px;
					}
				}
			}

			.black-section-title {
				margin-bottom: 25px;
			}

			.brands-list {
				li {
					height: 90px;
					width: 50%;
					text-align: center;
					white-space: nowrap;

					&:before,
					&.li_before {
					    content: "";
					    display: inline-block;
					    height: 100%;
    					vertical-align: middle;
					}

					img {
					    vertical-align: middle;
					    max-height: 90px;
					    max-width: 243px;
					}
				}
			}

			.ball-about {
				margin-left: -60px;
				margin-right: 100px;
			}

			.appliances-selector {
				margin-top: 80px;

				a.appliance {
					width: 49.8%;
					border-right: 1px dashed #dddddd;

					.appliance-icon {
						width: 100%;
						height: 154px;
						text-align: center;
						position: relative;
						margin-bottom: 80px;
					}

					img {
						margin: 0;
						margin-left: -47px;
						bottom: 0;
						left: 50%;
						position: absolute;
					}

					&:nth-child(even) {
						border-right: none;
					}

					&.fridges {
						border-top: none;
					}
				}
			}

			.product-selector {

				.product {
					width: 49.8%;
					border-right: 1px dashed #dddddd;

					.product-image {
						width: 100%;
						height: 320px;
						text-align: center;
						position: relative;
						margin-bottom: 80px;
					}

					&:nth-child(2), {
						border-top: none;
					}

					&:nth-child(even) {
						border-right: none;
					}
				}
			}

			.form-container {
				padding: 75px 90px;

				label {
					margin-bottom: 25px;
				}

				input {
					margin-bottom: 45px;
				}
			}

			.map-areas {
				float: left;
				width: 100%;
				background: url('../images/map.jpg') no-repeat center center #FFF;
				width: 1060px;
				height: 711px;
				position: relative;
				margin-top: 55px;

				a {
					position: absolute;
					font-size: 16px;
					color: #000;
					background: url('../images/map-marker.png') no-repeat center center;
					text-transform: uppercase;
					text-align: center;
					line-height: 22px;
					width: 143px;
					-webkit-transition: all 0.2s linear;
					-moz-transition: all 0.2s linear;
					-ms-transition: all 0.2s linear;
					-o-transition: all 0.2s linear;
					transition: all 0.2s linear;

					&.northern-beaches {
						left: 483px;
						top: 49px;
						height: 46px;
						padding: 15px 0;
					}

					&.north-shore {
						left: 340px;
						top: 281px;
						height: 26px;
						padding: 25px 0;
					}

					&.inner-west {
						left: 118px;
						top: 502px;
						height: 26px;
						padding: 25px 0;
					}

					&.eastern-suburbs {
						left: 483px;
						top: 589px;
						height: 46px;
						padding: 15px 0;
					}

					&:hover {
						color: #FFF;
						
						&:after {
							background: url('../images/tooltip-arrow-hover.png') no-repeat center center;
							bottom: -11px;
						}
					}

					&:after {
						content: " ";
						position: absolute;
						right: 17px;
						bottom: -12px;
						width: 27px;
						height: 13px;
						background: url('../images/tooltip-arrow.png') no-repeat center center;
						-webkit-transition: background 0.2s linear;
						-moz-transition: background 0.2s linear;
						-ms-transition: background 0.2s linear;
						-o-transition: background 0.2s linear;
						transition: background 0.2s linear;
					}
				}
			}

			&.reviews-listing {
				
				.hreview {
					width: 49.8%;
					border-right: 1px dashed #dddddd;

					.description {
						font-size: 18px;
						a {
							text-transform: uppercase;
							float: left;
							width: 100%;
							margin-top: 25px;
							font-size: 14px;
							display: block;
						}
					}

					&:nth-child(even) {
						border-right: none;
					}

					&:nth-child(2) {
						border-top: none;
					}
				}

				#wpcr_respond_1 a#wpcr_button_1, #wpcr_respond_2 a#wpcr_button_1, hr {
					display: none !important;
				}
			}
		}
	}



	// FOOTER

	.site-footer {
		.wrapper {
			padding: 0 20px;
		}

		.social-nav {
			width: 214px;
		}

		.footer-nav {
			display: block;
			width: 50%;
			line-height: 30px;
		}

		.footer-info {
			float: left;
			margin-left: 10px;

			p {
				text-align: left;
			}
		}
	}

	#wpcr_respond_1 {
		.description {
			p {
				font-size: 16px !important;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {

	.product-wrapper {
		padding: 0;
	}

	// HEADER

	.site-header {
		.top-bar {
			.logo-container a { float: left; }

			.delivery-phone-box {
				span {
					font-size: 21px;
					line-height: 65px;

					&.delivery {
						margin-left: 54px;
					}

					&.phone {
						&:before {
							left: 15px;
						}
					}
				}
			}
		}

		.main-nav {
			display: block;

			li:hover .sub-menu { display: block; }
		}

		.mobile-nav {
			display: none;
		}
	}

	// MAIN CONTENT

	.main-content {
		.content-block {

			h2, h3 {
				max-width: 520px;

				&.black-section-title {
					max-width: 100%;
				}
			}

			.text {
				max-width: 630px;
			}

			.appliances-categories {

				a.appliance {
					width: 17%;
					margin-left: 10.6%;

					&:first-child {
						margin-left: 0;
					}

					.appliance-icon {
						height: 108px;
						
						&.washing img, &.dryers img {
							width: 66px;
							height: 68px;
							margin-left: -33px;
						}

						&.fridges img {
							width: 66px;
							height: 108px;
							margin-left: -33px;
						}

						&.microwaves img {
							width: 72px;
							height: 47px;
							margin-left: -36px;
						}
					}
				}
			}

			.brands-list {
				li {
					width: 33%;
					margin-bottom: 25px;
				}
			}

			.ball-about {
				margin-left: -90px;
			}

			&.blog-post {
				.post-navigation {
					position: absolute;
					right: 20px;
					top: 75px;
					width: 160px;
					margin-top: 0;

					a {
						&.prev-post, &.next-post {
							margin-left: 0;
							margin-right: 0;
							margin-bottom: 20px;
						}
					}
				}

				.social-share {
					display: block;
				}
			}

			&.blog-posts-listing {
				.post {
					padding: 60px 90px;
					width: 49.8%;
					border-right: 1px dashed #ddd;
					min-height: 450px;

					h3 {
						font-size: 30px;
						padding-bottom: 0;
						overflow: hidden;
						max-height: 95px;
						margin-bottom: 100px;
					}

					&:nth-child(2) {
						border-top: none;
					}

					&:nth-child(even) {
						border-right: none;
					}
				}
			}

			&.product-details {

				.gallery-product {
					width:575px;
					height: 430px;
					position: relative;

					.full-image {
						float: left;
						width: 430px;
						height: 430px;
						position: relative;

						img {
							display: block;
							margin: 0 auto;
							max-width: 100%;
							max-height: 100%;
							height: 100%;
							width: auto;
						}
					}

					.slider-container {
						display: block;
					}
				}

				.rental-container {
					float: right;
					width: 270px;
				}
			}

			.container-form {
				width: 355px;
				float: none;
				display: block;
				margin: 20px auto -50px auto;
			}

			.write-review {
				position: absolute;
				right: -70px;
				top: 5px;
			}

			&.reviews-listing {
				.hreview {
					padding: 60px;
				}
			}
		}
	}

	// FOOTER

	.site-footer {
		.footer-nav {
			margin-left: 30px;
			width: 100%;
		}

		.footer-info {
			margin-left: 40px;
		}
	}
}